/* Common Styles */

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.btn{
    background-color: #E55473;
    color: white;
    padding: 20px 40px;
    border: 0;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bolder;
}

.btn:hover{
    background-color: orangered;
    transition: .25s ease-in;
    box-shadow: 0px 0px 10px 1px gray;
    rotate: 1deg;
}

.main-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: sans-serif;
}

.main-description{
    color: rgba(39, 39,39, 0.60);
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    padding: 24px 0px 48px 0px;
    width: 42%;
    margin: auto;
}

/* Banner Styles */

.banner-container{
    background-color: rgba(229, 84, 115, 0.10);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 91vh;
    display: flex;
    padding: 1px 240px;
    justify-content: space-between;
    align-items: center;
    gap: 85px;
}

.banner-content{
    max-width: 708px;
}

.banner-title{
    font-size: 80px;
}

.banner-description{
    padding: 32px 0px;
    padding-right: 58px;
    color: rgba(39, 39,39, 0.69);
    font-size: 18px;
    line-height: 30px;
}

.banner-pic{
    padding-top: 50px;
}

/* Feature Styles */

.feature{
    padding: 178px 240px 128px;
}

.feature-box-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.feature-box{
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
}

.feature-box-two{
    background-color: rgba(5, 151, 160, 0.15);
}

.feature-box-three{
    background-color: rgba(71, 125, 17, 0.15);
}

.feature-pic{
    width: 310px;
    height: 428px;
    padding: 110px 78px 0px 78px;
}

.feature-pic-two{
    width: 370px;
    height: 370px;
    padding: 117px 47px 0px 47px;
}

.feature-pic-three{
    width: 314px;
    height: 471px;
    padding: 67px 75px 0px 75px;
}

/* .feature-box > figcaption{
    text-decoration: underline;
    color: #272727;
    font-size: 24px;   ( no need now )
    text-align: center;
    padding: 32px 0px 128px 0px;
    font-weight: 700;
} */

.feature-caption{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: underline;
    color: #272727;
    font-size: 24px;
    padding: 32px 0px 0px 0px;
    font-weight: 700;
}

/* Service Styles */

.service-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    margin-top: 128px;
    text-align: center;
    padding: 86px 125px;
}

.service > h4{
    color: rgba(39, 39, 39, 0.80);
    font-size: 23px;
    font-weight: 680;
    padding-top: 24px;
}

/* Sign Up Styles */

.sign-up{
    background-color: rgba(229, 84, 115, 0.05);
    text-align: center;
}

.sign-up-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0px;
    gap: 100px;
}

.sign-up-content{
    padding-left: 300px;

}

.sign-up-pic{
    padding-right: 429px;
}

.sign-up-description{
    color: rgba(39, 39,39, 0.60);
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    padding: 24px 82px 32px 88px;
}

/* Social Styles */

.social{
    padding: 128px 240px;
}

.social-box-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
}

.social-box{
    box-shadow: 0px 0px 5px 0px rgb(182, 165, 165);
    height: 396px;
    width: 340px;
}

.social-box:hover{
    box-shadow: 1px 1px 20px 0px  rgb(182, 165, 165);
    transition: 0.2s ease-in;
}

/* Subscription Styles */

.subscription{
    /* width: 75%;
    margin: auto; */
    background-image: url("assets/subscribe.png"), linear-gradient(rgba(192, 127, 127, 0.9), rgba(168, 104, 104, 0.9));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px 235px;
    padding: 122px 287px ;
    border-radius: 10px;
    margin-bottom: 128px;
}

.sub-form input[type="email"]{
    padding: 22px 23px;
    padding-right: 443px;
    border: 0px;
    border-radius: 8px;
    margin-right: 16px;
}