/* Common Styles */

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.btn{
    background-color: #E55473;
    color: white;
    padding: 20px 40px;
    border: 0;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bolder;
}

.btn:hover{
    background-color: orangered;
    transition: .25s ease-in;
    box-shadow: 0px 0px 10px 1px gray;
    rotate: 1deg;
}

.main-title{
    color: #272727;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
}

.main-description{
    color: rgba(39, 39,39, 0.60);
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    padding: 24px 0px 48px 0px;
    width: 42%;
    margin: auto;
}

/* Banner Styles */

.banner-container{
    background-color: rgba(229, 84, 115, 0.10);
    height: 91vh;
    display: flex;
    padding: 1px 240px;
    justify-content: space-between;
    align-items: center;
    gap: 85px;
}

.banner-content{
    max-width: 708px;
}

.banner-title{
    font-size: 80px;
}

.banner-description{
    padding: 32px 0px;
    padding-right: 58px;
    color: rgba(39, 39,39, 0.69);
    font-size: 18px;
    line-height: 30px;
}

.banner-pic{
    padding-top: 50px;
}

/* Feature Styles */

.feature{
    padding: 178px 240px 128px 240px;
}

.feature-box-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.feature-box{
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
}

.feature-box-two{
    background-color: rgba(5, 151, 160, 0.15);
}

.feature-box-three{
    background-color: rgba(71, 125, 17, 0.15);
}

.feature-pic{
    width: 310px;
    height: 428px;
    padding: 110px 78px 0px 78px;
}

.feature-pic-two{
    width: 370px;
    height: 370px;
    padding: 117px 47px 0px 47px;
}

.feature-pic-three{
    width: 314px;
    height: 471px;
    padding: 67px 75px 0px 75px;
}

/* .feature-box > figcaption{
    text-decoration: underline;
    color: #272727;
    font-size: 24px;   ( no need now )
    text-align: center;
    padding: 32px 0px 128px 0px;
    font-weight: 700;
} */

.feature-caption{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: underline;
    color: #272727;
    font-size: 24px;
    padding: 32px 0px 0px 0px;
    font-weight: 700;
}